@charset "UTF-8";

#contents-group{
    height: auto;

}

#contents-group #aside{
    float: left;
    width: 160px;
    padding: 10px;
 
}

#aside h2{
    width: 100%;
    height: 60px;
    background-color: gray;
    text-align: center;
    line-height: 60px;
}

#aside ul li{
    padding: 8px 0px 8px 10px;
    border: 1px solid black;
    margin: 5px 0px;
}

#contents-group #main{
    float: left;
    width: 820px;

}

#title-box{
    float: left;
    width: 820px;
    height: 35px;
    padding-top: 30px;
    border-bottom: 2px solid gray;
}

#title-box h3{
    float: left;
    font-size: 20px;
    font-weight: bold;
  
}
#title-box ol{
    float: right;
   }
#title-box li{
    padding-top: 5px;
 float: left;
 font-size: 12px;
}

#title-box li:not(:last-child)::after{
    content: ">";
   }



.search-box{
    float: right;
    margin: 10px 0px;
}

thead{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background-color: aqua;
    height: 50px;
}
tbody tr{
    border-bottom: 1px solid black;
    text-align: center;
    height: 40px;
}

.table-box{
    float: left;
    
}

#num-box{
    width: 820px;
    float: left;
    padding: 10px 0;
    text-align: center;
    box-sizing: border-box;
}
#num-box ol{
 
}


#num-box li{
    display: inline-block;
    margin: 0px 10px;
    
}
#num-box li:first-child::before {
   
    content: "◀";
    margin-right: 5px; 
}

#num-box li:last-child::after {
    content: "▶";
    margin-left: 5px; 
}


#writing{
    float: right;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: bisque;
    padding: 5px;
    margin-bottom: 10px;
}