@charset "UTF-8";

table{
    border-collapse: collapse;
    text-align: center;
    }

thead>tr{ 
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    background-color: #dddddd;
}



tbody>tr{
    border-bottom: 2px dotted gray;
}   
tr:last-child{
    border-bottom: 2px solid gray;
}

tbody>tr:hover{
    background-color: yellow;
}

.txt-left{
    text-align: left;
}

.font{
    text-decoration: underline;
    color: blue;
    
}