@charset "UTF-8";


.img{
   
    /* background-image: url("../img/back_img01.jpg");

    background-repeat: no-repeat ;
    background-color: bisque;
    background-size: 100px ;

    background-position: center;
    background-attachment: fixed; */

    background: red url("../img/back_img01.jpg") no-repeat center fixed ;
    width: 1890px;
    height: 1600px;
}