@charset "UTF-8";

ul>li{
    list-style-type: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: left;
    margin: 10px 10px;
    padding: 10px;
    background-image: url(../img/star.jpg);
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: left center;
    border-right: 3px double black;

}
