<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>게시판</title>
    <link rel="stylesheet" href="../../assets/css/reset.css">
    <link rel="stylesheet" href="../../assets/css/MySite.css">
    <link rel="stylesheet" href="../../assets/css/board-read.css">
</head>
<body>
    <div id="wrap">
        
        <div id="header" class="clearfix">
            
            <h1>MySite</h1>
            <ul class="clearfix">
                <li><a href="#">로그인</a></li>
                <li><a href="#">회원가입</a></li>
            </ul>
        </div>
        
        <div id="nav">
            <ul class="clearfix">
                <li><a href="#">입사지원서</a></li>
                <li><a href="#">게시판</a></li>
                <li><a href="#">갤러리</a></li>
                <li><a href="#">방명록</a></li>
            </ul>
        </div>
        
        <div id="contents-group" class="clearfix">
            <div id="aside">
               <h2>게시판</h2>
               <ul>
                    <li><a href="#">일반게시판</a></li>
                    <li><a href="#">댓글게시판</a></li>
               </ul>
            </div>
           
            <div id="main" class="clearfix" >
                <div id="title-box">
                    <h3>게시판</h3>
                    <ol>
                        <li>홈</li>
                        <li>게시판</li>
                        <li>일반게시판</li>
                    </ol>
                </div>
                <div class="read-box">
                <table>
                    <tr>
                        <td>작성자</td>
                        <td>정우성</td>
                    </tr>
                    <tr>
                        <td>조회수</td>
                        <td>123</td>
                    </tr>
                    <tr>
                        <td>작성일</td>
                        <td>2020-03-02</td>
                    </tr>
                    <tr>
                        <td>제목</td>
                        <td>여기에는 글제목이 출력됩니다.</td>
                    </tr>

                </table>
            </div>
            <div class="read-content">
                <p>여기에는 본문내용이 출력 됩니다.<br>
                여기에는 본문내용이 출력 됩니다.<br>
                여기에는 본문내용이 출력 됩니다.<br>
                여기에는 본문내용이 출력 됩니다.<br>
                여기에는 본문내용이 출력 됩니다.<br>
                여기에는 본문내용이 출력 됩니다.<br>
                여기에는 본문내용이 출력 됩니다.<br>
                여기에는 본문내용이 출력 됩니다.<br>
                여기에는 본문내용이 출력 됩니다.<br>
                </p>
            </div>
            <div class="read-button">
                <button type="button">목록</button>
                <button type="button">수정</button>
            </div>


            </div>
        </div>
      

        <div id="footer">
            <p> copyright ⓒ 2020임현성 .All right reserved  </p>
        </div>

    </div>













</body>
</html>