<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
 
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/css/reset.css">
    <link rel="stylesheet" href="../../assets/css/MySite.css">
    <link rel="stylesheet" href="../../assets/css/board-write.css">

   
</head>
<body>
    <div id="wrap">
        <div id="header" class="clearfix">
            
                <h1>MySite</h1>
                <ul class="clearfix">
                    <li><a href="#">로그인</a></li>
                    <li><a href="#">회원가입</a></li>
                </ul>
        </div>
        
        <div id="nav">
            <ul class="clearfix">
                <li><a href="#">입사지원서</a></li>
                <li><a href="#">게시판</a></li>
                <li><a href="#">갤러리</a></li>
                <li><a href="#">방명록</a></li>
            </ul>
        </div>
        <div id="contents-group" class="clearfix">
            <div id="aside">
               <h2>게시판</h2>
               <ul>
                    <li><a href="#">일반게시판</a></li>
                    <li><a href="#">댓글게시판</a></li>
               </ul>
            </div>
           
            <div id="main" class="clearfix" >
                <div id="title-box">
                    <h3>일반게시판</h3>
                    <ol>
                        <li>홈</li>
                        <li>게시판</li>
                        <li>일반게시판</li>
                    </ol>
                </div>

                <div class="write-box">
                    <span>제목</span>
                    <input type="text" id="title-input" name="" placeholder="제목을 입력해주세요">
                </div>
                <textarea></textarea>
                <div class="write-button">
                    <button type="submit">등록</button>
                    <button type="button">취소</button>
                </div>
            </div>

        </div>

    </div>

    <div id="footer">
        <p> copyright ⓒ 2020임현성 .All right reserved  </p>
    </div>
</body>
</html>