@charset "UTF-8";


/* 스타일시트 연습 */



h2{
    color: blue;
    font-size: 50px;
}
li{color: #ff00ff;}

th{background-color: gray;}
  
/* class */
.green{color: green;}
.red{
    color: white;
    font-size: 30px;
    background-color: red;
}

.f45{font-size: 45px;}

