<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
 
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/css/reset.css">
    <link rel="stylesheet" href="../../assets/css/MySite.css">
    <link rel="stylesheet" href="../../assets/css/guest-box.css">
    
   
</head>
<body>
    <div id="wrap">
        <div id="header" class="clearfix">
            
                <h1>MySite</h1>
                <ul class="clearfix">
                    <li><a href="#">로그인</a></li>
                    <li><a href="#">회원가입</a></li>
                </ul>
        </div>
        
        <div id="nav">
            <ul class="clearfix">
                <li><a href="#">입사지원서</a></li>
                <li><a href="#">게시판</a></li>
                <li><a href="#">갤러리</a></li>
                <li><a href="#">방명록</a></li>
            </ul>
        </div>
        <div id="contents-group" class="clearfix">
            <div id="aside">
               <h2>방명록</h2>
               <ul>
                    <li><a href="#">일반방명록</a></li>
                    <li><a href="#">ajax방명록</a></li>
               </ul>
            </div>
           
            <div id="main" class="clearfix" >
                <div id="title-box">
                    <h3>일반방명록</h3>
                    <ol>
                        <li>홈</li>
                        <li>방명록</li>
                        <li>일반방명록</li>
                    </ol>
                </div>
                <div class="guest-box clearfix">
                    <table class="guest-table">
                        <tbody>
                            <tr>
                                <td><label for="guest-name">이름</label></td>
                                <td><input type="text" id="guest-name" name=""> </td>
                                <td><label for="guest-pw">패스워드</label></td>
                                <td><input type="password" id="guest-pw" name=""></td>
                            </tr>
                            <tr>
                            <td colspan="4"><textarea></textarea></td>
                            </tr>
                            <tr>
                                 
                            <td colspan="4"><button type="button">등록</button></td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <table class="guest-box1">
                        <tbody>
                            <tr>
                                <td>1234555</td>
                                <td>이정재</td>
                                <td>2020-03-03- 12:12:12</td>
                                <td><a href="#">[삭제]</button></td>
                            </tr>
                            <tr>
                            <td colspan="4">방명록 글입니다. 방명록 글입니다.</td>
                            </tr>
                        </tbody>

                    </table>
                      
                    <table class="guest-box1">
                        <tbody>
                            <tr>
                                <td>1234555</td>
                                <td>이정재</td>
                                <td>2020-03-03- 12:12:12</td>
                                <td><a href="#">[삭제]</button></td>
                            </tr>
                            <tr>
                            <td colspan="4">방명록 글입니다. 방명록 글입니다.</td>
                            </tr>
                        </tbody>

                    </table>
             
                  

                </div>












           
         </div>
    </div>
    <div id="footer">
        <p> copyright ⓒ 2020임현성 .All right reserved  </p>
    </div>
</body>
</html>