<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
 
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/css/reset.css">
    <link rel="stylesheet" href="../../assets/css/MySite.css">
   
</head>
<body>
    <div id="wrap">
        <div id="header" class="clearfix">
            
                <h1>MySite</h1>
                <ul class="clearfix">
                    <li><a href="#">로그인</a></li>
                    <li><a href="#">회원가입</a></li>
                </ul>
        </div>
        
        <div id="nav">
            <ul class="clearfix">
                <li><a href="#">입사지원서</a></li>
                <li><a href="#">게시판</a></li>
                <li><a href="#">갤러리</a></li>
                <li><a href="#">방명록</a></li>
            </ul>
        </div>

        <div id="contents" class="clearfix">
            <img id="profile" src="../../assets/img/다운로드.jfif">
            <div id="greeting-box">
                <p>
                    안녕하세요
                    임현성 mysite에 오신 것을 환영합니다
                    <br>
                    이 사이트는 웹 프로그래밍 실습과제 예제 사이트입니다.
                   
                </p>
            
                <p>
                    '한살이', '한 살이'의 띄어쓰기<br><br>

                    질문<br>
                    '동물의 한살이/한 살이'에서 바른 띄어쓰기는 무엇인가요?<br><br>
            
                    답변<br>
                    '동물의 한살이'로 붙여 쓰는 것이 바릅니다. <br>
                    '한살이'는 '곤충 따위가 알, 애벌레, 번데기, 성충으로 바뀌면서 자라는 변태 과정의 한 차례'를 뜻하는 합성어입니다.
                   <br><br> 
                
                    <a href="#">[방명록에 질문하기]</a>
                </p>
        </div>
        </div>

        <div id="footer">
            <p> copyright ⓒ 2020임현성 .All right reserved  </p>
        </div>
    </div>

</body>
</html>