@charset "UTF-8";

* {font-family: "고딕";
font-size: 17px;}


h2{font-size: 25px;}
h3{font-size: 20px;}

h1{
  font-family: "궁서";
  font-size: 30px;
  letter-spacing: 15px;
}

ol{list-style-type: none;}
.box{ border: 1px solid black }
.gray{background-color: #d9d9d9;}


.italic{font-style: italic;}
.bold{font-weight: bold;}
.font-red{color: #ff0000;}
.font-blue{color: #00f;}
.font-green{color: #00ff00;}

.unline{text-decoration-line: underline;}

.ind{text-indent: 30px};


